.gray{
  color:gray;
  padding-right: 50px;
}

.round {
    width: 100%;
    border-radius: 15px;
    border: 15px ;
    border-color:grey;
    padding: 5px 5px 5px 25px;
}

.searchbtn {
  width: 100%;
  border-radius: 15px;
  border: 15px ;
  border-color:grey;
  padding: 5px 5px 5px 25px;
}
